<header class="main-header">
  <div class="welcome-message">
    <h1>Welcome to NationData</h1>
  </div>
  <div class="contact-links">
    <a href="https://www.linkedin.com/in/sedat-yıldız-565453211/" target="_blank">LinkedIn</a>
    <a href="https://www.instagram.com/sedat.thecoder/" target="_blank">Instagram</a>
  </div>
</header>

